@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #171717;
    color: #fff;
    font-family: 'Krub';
}

/* Scrollbar */

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 12px;
    border-color: white;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #30ff00);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #00c6ff);
}

/* nav */

.nav{
    background-color: #90EE90;
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);
    --clip: inset(0 0 0 0);
}

.nav__container{
    width: 90%;
    margin: 0 auto;
    height: 70px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
}

.nav__title{
    color: #ffffff;
    grid-area: title;
}

.nav__menu{
    grid-area: img;
    position: relative;
    z-index: 1001;
    transform: var(--img1);
}

.nav__menu--second{
    transform: var(--img2);
}

.nav__icon{
    width: 30px;
    display: block;
}

.dropdown{
    position: absolute;
    background-color: #000000;
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;
    display: grid;
    align-content: center;
    gap: 1rem;
    overflow-y: auto;
    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
    z-index: 10;
    -webkit-transition: clip-path .5s;
    -moz-transition: clip-path .5s;
    -ms-transition: clip-path .5s;
    -o-transition: clip-path .5s;
}

.dropdown__list{
    list-style: none;
}

.dropdown__link{
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303B;
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;

}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: #B6BABE;
    text-decoration: none;
}

/* relleno */
.relleno {
    color: rgba(0, 0, 0, 0);
    background-color: #02a10200;
}

/* inv */
.inv {
    color: transparent;
}

/* sección inicio */
.contenido{
    max-width: 1100px;
    margin: auto;
}
#inicio .contenido .fila{
    display: flex;
}
#inicio .contenido .fila .col{
    width: 33%;
    position: relative;
}
#inicio .contenido .fila .ui{
    font-family: 'Krub';
    font-size: 132px;
    display: flex;
    align-items: baseline;
}
#inicio .contenido .fila .ui .circulo{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #90EE90;
    border-radius: 12px;
}
#inicio .contenido .fila .col .info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#inicio .contenido .fila .col .info h2{
    width: fit-content;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;    
}
#inicio .contenido .fila .col .txt{
    font-family: 'Krub';
    font-weight: normal;
    font-size: 43px;
}
.vertical{
    top: 50%;
    left: -10%;
    position: absolute;
    transform: scale(-1) translate(-50%, 50%);
    writing-mode: vertical-lr;
    letter-spacing: 5px;
}
.circulo-principal{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #90EE90;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -2;
}
#inicio .contenido .fila .col img{
    display: block;
}
#inicio .contenido .fila .derecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    font-family: 'Krub';
}
#inicio .contenido .fila .derecha h3{
    font-size: 20px;
    margin-bottom: 20px;
}
#inicio .contenido .fila .derecha p{
    font-size: 14px;
    margin-bottom: 20px;
}

.btn-primary{
    display: inline-block;
    width: fit-content;
    background-color: #28ff28;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 7px 15px;
    text-transform: uppercase;
    font-family: 'Oswald';
    transition: .3s;
}
.btn-primary:hover{
    background-color: #000;
}
.btn-secondary{
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 7px 15px;
    text-transform: uppercase;
    font-family: 'Oswald';
}


/* sección sobre mi */
#sobremi{
    padding: 30px 10px;
    height: 90vh;
}

#sobremi .contenido .fila{
    display: flex;
    align-items: center;
}
#sobremi .contenido .fila .col{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.titulo-seccion{
    font-size: 61px;
    margin-bottom: 20px;
}
.resaltado{
    color: #90EE90;
    font-weight: normal;
}
#sobremi .contenido .fila .col > p{
    font-size: 20px;
    width: 550px;
    margin-bottom: 30px;
    font-weight: bold;
}
#sobremi .contenido .fila .col .skills{
    margin: 20px 0;
}
#sobremi .contenido .fila .col .skills p{
    margin-right: 40px;
}
#sobremi .contenido .fila .col .punto {
    width: 10px;
    height: 10px;
    background-color: #90EE90;
    display: inline-block;
    margin-right: 15px;
}
#sobremi .contenido .fila .col .barra-skill{
    width: 80%;
    height: 15px;
    border: 1px solid #555555;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 30px;
    position: relative;
    margin-bottom: 20px;
}
#sobremi .contenido .fila .col .barra-skill span{
    display: inline-block;
    font-size: 12px;
    position: relative;
    text-align: center;
    bottom: 5px;
    width: 100%;
    color: #000000;
    font-weight: 800;
}
.progreso{
    background-color: #90EE90;
    width: 0;
}
/* animaciones */
.dw{
    width: 0%;
    animation: dw 1.5s forwards;
}
@keyframes dw{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
/* animación diseño grafico */
.dg{
    width: 0%;
    animation: dg 1.5s forwards;
}
@keyframes dg{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
/* animación base de datos */
.bd{
    width: 0%;
    animation: bd 1.5s forwards;
}
@keyframes bd{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
/* animación marketing digital */
.md{
    width: 0%;
    animation: md 1.5s forwards;
}
@keyframes md{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
#sobremi .contenido .fila .col img{
    display: block;
    max-width: 400px;
    margin: auto;
}

/* sección proyectos */
#proyectos{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -200px;
    padding-bottom: 10px;
}
#proyectos .contenido .fila{
    display: flex;
    justify-content: space-between;
}
#proyectos .contenido .fila .col{
    border: 2px solid #fff;
    padding: 60px 20px 20px 20px;
    position: relative;
    text-align: center;
    width: 250px;
    margin-bottom: 20px;
    transition: .5s;
}
#proyectos .contenido .fila .col:hover{
    box-shadow: 0px 0px 20px #90EE90;
    transform: scale(1.05);
}
#proyectos .contenido .fila .col .numero-proyecto{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: .4s;
}
#proyectos .contenido .fila .col:hover .numero-proyecto{
    left: 50%;
    transform: translateX(-50%);
}
#proyectos .contenido .fila .col .titulo-proyecto{
    letter-spacing: 3px;
    font-size: 25px;
}
#proyectos .contenido .fila .col hr{
    width: 50px;
    background-color: #90EE90;
    border: none;
    height: 2px;
    margin: 20px auto;
}
#proyectos .contenido .fila .col p{
    font-size: 14px;
    margin-bottom: 20px;
}

/* sección NUMEROS */
#numeros{
    background-color: #1d1d1d;
    padding: 50px 10px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
}
#numeros .fila{
    display: flex;
    justify-content: space-evenly;
}
#numeros .fila .col{
    display: flex;
    align-items: center;
}
#numeros .fila .col .mas{
    font-size: 40px;
    color: #90EE90;
    display: block;
}
#numeros .fila .col .num{
    width: 40px;
    font-size: 40px;
    font-weight: bold;
    margin: 0 15px 0 0px;
}


/* sección clientes */
#clientes{
    padding: 50px 10px;
}
#clientes .contenido .fila{
    display: flex;
    justify-content: space-between;
}
#clientes .contenido .fila .col{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clientes .contenido .fila .col img{
    width: 350px;
}
.subir{
    width: 350px;
    position: relative;
    top: -20px;
}
#clientes .contenido .fila .col-historia .cliente{
    display: flex;
    margin-bottom: 20px;
}
#clientes .contenido .fila .col-historia .cliente img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    filter: grayscale();
    margin-right: 20px;
}
#clientes .contenido .fila .col-historia .cliente h3{
    font-size: 15px;
}
#clientes .contenido .fila .col-historia .cliente i{
    font-size: 10px;
    color: #fff;
}
.relleno{
    color: #90EE90 !important;
}
#clientes .contenido .fila .col-historia .cliente p{
    font-size: 12px;
    font-style: italic;
}
/* sección contacto */
#contacto{
    padding: 50px 10px;
    position: relative;
    height: 100vh   ;
}
#contacto .contenido{
    display: flex;
    justify-content: end;
    text-align: center;
}
#contacto form{
    max-width: 500px;
    width: 100%;
}
#contacto form p{
    margin-bottom: 30px;
} 
#contacto form input,
#contacto form textarea {
    width: 100%;
    display: block;
    background-color: transparent;
    border: 3px solid #90EE90;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    color: #fff;
    outline: none;
}
#contacto .img-subs{
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 600px;
}
/* footer */
footer{
    background-color: #7bff0000;
    color: #fff;
    padding: 70px 0;
    font-size: 18px;
}
footer .contenido{
    display: flex;
}
footer .contenido .col{
    width: 30%;
}
footer .contenido .col3{
    width: 40%;
    text-align: right;
}
footer .contenido h3{
    border-bottom: 2px solid #fff;
    width: fit-content;
    padding-bottom: 3px;
}
footer .contenido ul{
    list-style: none;
    margin-top: 20px;
}
footer .contenido ul li{
    margin: 5px 0;
}
footer .contenido ul li a{
   text-decoration: none;
   color: #fff;
}
footer .contenido ul li a:hover{
    text-decoration: underline;
 }
footer .contenido .titulo-footer{
    text-align: right;
    width: auto;
    border-bottom: none;
}
footer .contenido input{
    display: inline-block;
    width: 80%;
    background-color: transparent;
    border: none;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    margin: 20px 0;
    outline: none;
}
footer .contenido input::placeholder { 
    color: #fff;
}
footer .contenido .redes{
    display: flex;
    justify-content: end;
    align-items: center;
}
footer .contenido .redes a{
    margin: 0 20px;
    display: block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #02a102;
    text-align: center;
    line-height: 40px;
    transition: .3s;
}
footer .contenido .redes a:hover{
    background-color: #1d1d1d;
    color: #fff;
}

.copy {
    background-color: #00000000;
    display: flex;
    padding-top: 35px;
    padding-left: 10px;
}

.copy .copy-txt {
    font-size: 16px;
    font-weight: 200;
    padding-right: 310px;
}

.copy .copy-p {
    font-size: 16px;
    font-weight: 200;
}

/* Responsive design */
@media screen and (max-width:920px){
    #inicio .contenido .fila{
        display: block;
    }
    
    #inicio .contenido .fila .col{
        width: 100%;
        text-align: center;
    }
    #inicio .contenido .fila .col .txt{
        display: none;
    }
    #inicio .contenido .fila .col .ui{
        justify-content: center;
        font-size: 80px;
    }
    #inicio .contenido .fila .col .info{
        display: block;
        height: auto;
        text-align: center;
    }
    #inicio .contenido .fila .col .info h2{
        width: auto;
        margin: 30px 0;
        font-size: 30px;
    }
    #inicio .contenido .fila .col img{
        margin: auto;
        width: 150px;
    }
    #inicio .contenido .fila .derecha{
        padding-left: 0;
    }
    .circulo-principal{
        width: 200px;
        height: 200px;
    }

    /* sección sobremi */
    #sobremi{
        height: auto;
    }
    #sobremi .contenido .fila{
        display: block;
    }
    #sobremi .contenido .fila .col{
        width: 100%;
    }
    #sobremi .contenido .fila .col img{
        display: none;
    }
    #sobremi .contenido .fila .col .circulo-principal{
        display: none;
    }
    #sobremi .contenido .fila .col .barra-skill{
        width: 90%;
    }
    
    #proyectos .contenido .fila{
        display: block;
    }
    #proyectos .contenido .fila .col{
        width: 90%;
        margin: 5px auto;
    }
    #clientes .contenido .fila .col .circulo-principal{
        display: none;
    }
    #clientes .contenido .fila .col > img{
        display: none;
    }
    #clientes .contenido .fila{
        display: block;
    }
    #clientes .contenido .fila .col{
       width: 100%;
       display: block;
    }
    
    #contacto{
        height: auto;
    }
    #contacto form{
        max-width: 100%;
    }
    #contacto img{
        display: none;
    }

    footer .contenido{
        display: block;
        text-align: center;
    }
    footer .contenido h3{
        width: 100%;
        border-bottom: none;
    }
    footer .contenido .col{
        width: 100%;
        margin-bottom: 25px;
    }
    footer .contenido .col3{
        width: 100%;
        text-align: center;
    }
    footer .contenido .titulo-footer{
        text-align: center;
    }
    footer .contenido .col ul{
        margin-top: 5px;
    }
    footer .contenido .redes{
        justify-content: center;
    }
    
    .copy {
        background-color: #1d1d1d00;
        display: inline-block;
        padding-top: 35px;
    }
    
    .copy .copy-txt {
        font-size: 16px;
        font-weight: 200;
        text-align: center;
        padding: 0px ;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
    }
    
    .copy .copy-p {
        padding-top: 10px;
        font-size: 16px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
    }
}
