@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: Arial;
    background-color: #1d1d1d;
}

/* Scrollbar */

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 12px;
    border-color: white;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #30ff00);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #00c6ff);
}

/* nav */

.nav{
    background-color: #90EE90;
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);
    --clip: inset(0 0 0 0);
}

.nav__container{
    width: 90%;
    margin: 0 auto;
    height: 70px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
}

.nav__title{
    color: #ffffff;
    grid-area: title;
}

.nav__menu{
    grid-area: img;
    position: relative;
    z-index: 1001;
    transform: var(--img1);
}

.nav__menu--second{
    transform: var(--img2);
}

.nav__icon{
    width: 30px;
    display: block;
}

.dropdown{
    position: absolute;
    background-color: #000000;
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;
    display: grid;
    align-content: center;
    gap: 1rem;
    overflow-y: auto;
    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
    z-index: 10;
    -webkit-transition: clip-path .5s;
    -moz-transition: clip-path .5s;
    -ms-transition: clip-path .5s;
    -o-transition: clip-path .5s;
}

.dropdown__list{
    list-style: none;
}

.dropdown__link{
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303B;
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;

}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: #B6BABE;
    text-decoration: none;
}

/* inv */
.inv {
    color: transparent;
}

/* Section */

.section {
    background-color: #1d1d1d;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 30px 30px;
    font-family: 'Oswald';
}

.section .section-txt {
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 45px;
    text-align: center;
    align-items: center;
}

.section .section-span {
    color: #74f174;
    font-weight: 900;
    font-size: 50px;
}

.section .section-p {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 20px;
    padding-right: px;
}

.img {
    padding-top: 90px;
    width: 450px;
    height: 350px;
}

@media screen and (max-width: 1023px) {
    .section {
        background-color: #1d1d1d;
        max-width: 1300px;
        margin: auto;
        display: block;
        justify-content: right;
        align-items: center;
        padding: 30px 30px;
        font-family: 'Oswald';
    }
    .section .section-txt {
        color: rgb(255, 255, 255);
        font-weight: 600;
        padding-bottom: 20px;
        font-size: 30px;
        text-align: center;
        align-items: center;
    }
    
    .section .section-span {
        color: #74f174;
        font-weight: 900;
        font-size: 35px;
    }
    
    .section .section-p {
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 17px;
        padding-bottom: 20px;
        padding-right: px;
    }
    
    .img {
        filter: drop-shadow(20px 5px 5px rgba(0, 0, 0, 0.993)) ;
        -webkit-filter: drop-shadow(20px 5px 5px rgba(0, 0, 0, 0.993)) ;
        align-items: center;
        justify-content: center;
        padding-left: 100px;
        padding-top: 30px;
        padding-bottom: -20px;
        width: 450px;
        height: 350px;
    }
}  

/* objetivos */

.objetivos {
    background-color: #1d1d1d;
}

.content-objetivos .title {
    padding-top: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    font-size: 40px;
}

.content-objetivos .subtitle {
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding-top: 15px;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}

.content-objetivos .objetivos-span {
    color: #78e978;
    font-weight: 600;
}

.llamadj {
    width: 500px;
    height: 510px;
    border: rgba(63, 63, 63, 0.753) solid 3px;
    padding: 20px 25px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.753);
    font-size: 12px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.llamadj ul {
    color: #000000;
    text-decoration: unset;
    font-size: 20px;
    list-style: none;
}

.llamadj ul li {    
    text-decoration: unset;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.rey {
    width: 500px;
    height: 526px;
    border: rgba(63, 63, 63, 0.753) solid 3px;
    padding: 20px 25px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.753);
    font-size: 12px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.rey ul {
    color: #000000;
    text-decoration: unset;
    font-size: 20px;
    list-style: none;
}

.rey ul li {    
    text-decoration: unset;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.todo {
    justify-content: space-between;
    display: flex;
    margin-top: 70px;
    padding: 10px 50px;
}

.monster-img img {
    filter: drop-shadow(10px 5px 5px rgba(72, 214, 44, 0.753)) ;
    -webkit-filter: drop-shadow(10px 5px 5px rgba(72, 214, 44, 0.753)) ;
}

@media screen and (max-width: 1023px) {
    .objetivos {
        background-color: #1d1d1d;
    }
    
    .content-objetivos .title {
        padding-top: 10px;
        color: rgb(255, 255, 255);
        text-align: center;
        justify-content: center;
        font-size: 28px;
    }
    
    .content-objetivos .subtitle {
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding-top: 15px;
        text-align: center;
        justify-content: center;
        font-weight: 400;
    }
    
    .content-objetivos .objetivos-span {
        color: #78e978;
        font-weight: 600;
    }
    
    .llamadj {
        width: 450px;
        height: 480px;
        border: rgba(63, 63, 63, 0.753) solid 3px;
        padding: 20px 50px;
        box-shadow: 0 0 40px rgba(255, 255, 255, 0.753);
        font-size: 12px;
        border-radius: 20px;
        backdrop-filter: blur(8px);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        align-items: center;
        justify-content: center;
        
    }
    
    .llamadj ul {
        color: #000000;
        text-decoration: unset;
        font-size: 20px;
        list-style: none;
    }
    
    .llamadj ul li {    
        text-decoration: unset;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 600;
    }
    
    .rey {
        width: 450px;
        height: 480px;
        border: rgba(63, 63, 63, 0.753) solid 3px;
        padding-top: 50px;
        padding: 20px 25px;
        box-shadow: 0 0 40px rgba(255, 255, 255, 0.753);
        font-size: 12px;
        border-radius: 20px;
        backdrop-filter: blur(8px);
        position: relative;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    
    .rey ul {
        color: #000000;
        text-decoration: unset;
        font-size: 20px;
        list-style: none;
    }
    
    .rey ul li {    
        text-decoration: unset;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 600;
    }
    
    .todo {
        justify-content: space-between;
        display: inline-block;
        margin-top: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .monster-img img {
        filter: drop-shadow(10px 5px 5px rgba(72, 214, 44, 0.753)) ;
        -webkit-filter: drop-shadow(10px 5px 5px rgba(72, 214, 44, 0.753)) ;
    }
}



/* Carrusel */

.title-slider {
    background-color: #1d1d1d;
}

.title-slider h2 {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 18px;
    padding-top: 10px;
}

.title-slider strong {
    color: #78e978;
    font-weight: 300;
}

.title-slider p {
    color: #ffffff;
    font-size: 28px;
    font-weight: 230;
    text-align: center;
    padding-bottom: 40px;
}

.carrusel-two {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1d1d1d;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
  }
  .card-list .card-item {
    height: auto;
    color: #fff;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .card-list .card-item .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
  }
  .card-list .card-item .user-profession {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
  }
  .card-list .card-item .message-button {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
  }
  .card-list .card-item .message-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
  }
  .slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 13px;
    width: 13px;
    opacity: 0.5;
  }
  .slider-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .slider-wrapper .swiper-slide-button {
    color: #fff;
    margin-top: -55px;
    transition: 0.2s ease;
  }
  .slider-wrapper .swiper-slide-button:hover {
    color: #4658ff;
  }
  @media (max-width: 768px) {
    .slider-wrapper {
      margin: 0 10px 40px;
    }
    .slider-wrapper .swiper-slide-button {
      display: none;
    }
  }

/* footer */

.footer {
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    background-color: #7bff0000;
    color: #fff;
    padding: 70px 0;
    font-size: 18px;
}
footer .contenido{
    display: flex;
}
footer .contenido .col{
    width: 30%;
}
footer .contenido .col3{
    width: 40%;
    text-align: right;
}
footer .contenido h3{
    border-bottom: 2px solid #fff;
    width: fit-content;
    padding-bottom: 3px;
}
footer .contenido ul{
    list-style: none;
    margin-top: 20px;
}
footer .contenido ul li{
    margin: 5px 0;
}
footer .contenido ul li a{
   text-decoration: none;
   color: #fff;
}
footer .contenido ul li a:hover{
    text-decoration: underline;
 }
footer .contenido .titulo-footer{
    text-align: right;
    width: auto;
    border-bottom: none;
}
footer .contenido input{
    display: inline-block;
    width: 80%;
    background-color: transparent;
    border: none;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    margin: 20px 0;
    outline: none;
}
footer .contenido input::placeholder { 
    color: #fff;
}
footer .contenido .redes{
    display: flex;
    justify-content: end;
    align-items: center;
}
footer .contenido .redes a{
    margin: 0 20px;
    display: block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #02a102;
    text-align: center;
    line-height: 40px;
    transition: .3s;
}
footer .contenido .redes a:hover{
    background-color: #1d1d1d;
    color: #fff;
}

.copy {
    background-color: #1d1d1d;
    display: flex;
    padding-top: 35px;
}

.copy .copy-txt {
    font-size: 16px;
    font-weight: 200;
    padding-right: 310px;
}

.copy .copy-p {
    font-size: 16px;
    font-weight: 200;
}

@media screen and (max-width:920px){
    footer .contenido{
        display: block;
        text-align: center;
    }
    footer .contenido h3{
        width: 100%;
        border-bottom: none;
    }
    footer .contenido .col{
        width: 100%;
        margin-bottom: 25px;
    }
    footer .contenido .col3{
        width: 100%;
        text-align: center;
    }
    footer .contenido .titulo-footer{
        text-align: center;
    }
    footer .contenido .col ul{
        margin-top: 5px;
    }
    footer .contenido .redes{
        justify-content: center;
    }

    .copy {
        background-color: #1d1d1d;
        display: inline-block;
        padding-top: 35px;
    }
    
    .copy .copy-txt {
        font-size: 16px;
        font-weight: 200;
        text-align: center;
        padding: 0px ;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
    }
    
    .copy .copy-p {
        padding-top: 10px;
        font-size: 16px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
    }
}